@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  scrollbar-gutter: stable both-edges;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer components {
  .section-padding {
    @apply py-16;
  }

  .content-padding {
    @apply px-12;
  }

  .grid-layout {
    @apply grid lg:grid-cols-[12vw_1fr_1fr_12vw] sm:grid-cols-[12vw_1fr_12vw];
  }

  .section {
    @apply grid-layout section-padding;
  }

  .content-left-half {
    @apply sm:col-start-2 content-padding;
  }

  .content-right-half {
    @apply sm:col-start-2 lg:col-start-3 content-padding mt-8 lg:mt-0;
  }

  .content-center-span {
    @apply sm:col-start-2 lg:col-end-4 content-padding;
  }
}

@layer utilities {
  .grid-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
